.project-heading {
    text-align: center;
    background-color: black;
    color: white;
}
.my-Work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: cadetblue;
} 
.box img{
border-radius: 40%;
}
.footer {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: gray;
    color: black;
}
